<% layout("layouts/boilerplate") %>

<main class="maindiv py-5">
  <h1>MAKE QRs AND SHORT-URLs</h1>

  <div class="container d-flex flex-wrap justify-content-center gap-4">

    <div class="urlshort shadow-sm bg-white p-4">
      <h1 class="text-center mb-4">URL Shortener</h1>
      <% if (typeof id !== 'undefined' && id){ %>
        <p><strong>URL Generated:</strong> http://localhost:8000/url/<%= id %></p>
        <% } %>
      <div class="Urlform">
        <form id="urlForm" method="POST" action="/url">
          <div class="mb-3">
            <label for="url">Enter your Original URL</label><br>
            <input type="text" class="form-control" name="url" placeholder="http://example.com" />
          </div>
         
          <button class="btn w-100" type="button" onclick="checkLoginAndSubmit('urlForm')">Generate</button>
          
        </form>
      </div>

      <div class="analytics-box mt-4">
        
          <table class="table table-bordered table-striped">
            <thead class="table-headings">
              <tr>
                <th>S.NO</th>
                <th>shortId</th>
                <th>Redirect</th>
                <th>Clicks</th>
              </tr>
            </thead>
            <% if (typeof urls !== 'undefined' && urls) { %>
            <tbody>
             
              <% urls.forEach((url, index) => { %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= url.shortId %></td>
                  <td><%= url.redirectURL %></td>
                  <td><%= url.visitHistory.length %></td>
                </tr>
              <% }) %>
            </tbody>
            <% } %>
          </table>
      </div>
    </div>

    <div class="qrcode shadow-sm bg-white p-4">
      <h1 class="text-center mb-4">QR Code Generator</h1>
      <div class="QRform">
        <form id="qrForm"  action="/qrcode" method="POST">
          <div class="mb-3">
            <label for="url">Enter URL</label><br>
            <input type="text" class="form-control" id="url" name="url" placeholder="https://example.com" required>
          </div>
          <button class="btn w-100" type="button" onclick="checkLoginAndSubmit('qrForm')">Generate QR Code</button>
        </form>
      </div>
    </div>

  </div>
</main>
<script>
  function checkLoginAndSubmit(formId) {
  
    const userLoggedIn = <%= user ? 'true' : 'false' %>;

    if (!userLoggedIn) {
      alert("You should first to create shortURL or QR");
      window.location.href = "/login";
      return;
    }
    
    // If logged in, submit the form
    document.getElementById(formId).submit();
  }
</script>